{% extends "model-page.html" %}

{% block content %}

<h2> New Task</h2>

<form action="submit" method="POST">{% csrf_token %}
    <input type="number" name="id_event" value="{{ event.id }}" hidden>
    <label>Title</label>
    <br>
    <input type="text" name="title" size="23" value="{{ event.title }}">
    <br>
    <label>Task Date</label>
    <br>
    <input type="datetime-local" name="dt_event" value="{{ event.get_dt_input_event }}">
    <br>
    <label>Describe</label>
    <br>
    <textarea name="describe" rows="5" cols="24">{{ event.describe }}</textarea>
    <br>
    <label>Locale</label>
    <br>
    <textarea name="locale"></textarea>
    <br>
    <br>
    <button type="submit">Save</button>
    <a href="/">
        <button type="button">Cancel</button>
    </a>
</form>
{% endblock %}